name: Hola Mundo

on:
  push:
    branches:
      - aprendiendo-github-actions

jobs:
  hola-mundo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run Python script
        run: python main.py